.section {
  color: white;
  margin: 0 3%;
  position: absolute;
  top: 35%;
  font-size: 1.8vw;
  left: 0px;
  text-align: left;

  @media (max-width: 1000px) {
    top: 55%;
    font-size: 1.9vw;
  }
  @media (max-width: 800px) {
    top: 60%;
    font-size: 3.2vw;
    margin: 0 4em;
    text-align: center;
  }

  h1 {
    font-size: 3em;
    margin: 0 0 0.2em;
    font-weight: 700;
  }
  p {
    margin: 0 3.5em 0 0;
    font-weight: 700;
  }
  button {
    font-size: 14px;
    letter-spacing: 1.9px;
    font-weight: 100;
    margin: 1.2em 24.5em 0 0;
    padding: 12px 2em;
    color: white;
    background-color: #e50914;
    cursor: pointer;
    text-decoration: none;
    //vertical-align: middle;
    font-family: Arial, sans-serif;
    border-radius: 2px;
    user-select: none;
    // text-align: center;
    border: 0;
    // margin-left: 0px;
    &:hover {
      background-color: #e53935;
    }
  }
}
