footer {
  margin: 0 0px 0px 0;
  width: 100%;
  height: 100%;
  background-color: black;
  @media (max-width: 900px) {
    width: 90%;
  }
}

.footerparagraph {
  color: #777;
  font-weight: 500;
  margin: 0 0 0px;
  height: 100px;
  width: 660px;
  // margin-bottom: 30%;
}

#nicholas {
  color: #777;
  font-weight: 500;
  margin: 0 0 0px;
  height: 100px;
  width: 640px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 50px 250px;
  font-weight: 500;
  text-align: left;
  li {
    // text-align: left;
    color: #777;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    /* is 25 */
    flex: none;
    width: 25%;
    /* Styles */
    list-style: none;
    margin: 0 0 16px;

    min-width: 100px;
    font-size: 13px;
    a {
      text-decoration: none;
      span {
        color: #777;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.link {
  color: #777;
  &:hover {
    text-decoration: underline;
  }
}
